---
import Base from "$layouts/Base.astro";
import GradientText from "$components/GradientText.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "$consts";
---

<Base
    title={SITE_TITLE}
    description={SITE_DESCRIPTION}
>
    <div class="hero">
        <div class="hero-content text-center">
            <div class="max-w-md">
                <div class="mb-5 space-y-2">
                    <h1 class="text-5xl font-bold">
                        <GradientText>{SITE_TITLE}</GradientText>
                    </h1>
                    <h2 class="text-3xl font-thin">{SITE_DESCRIPTION}</h2>
                </div>
                <div
                    id="nav-items"
                    class="space-x-2"
                >
                    <a
                        href="/about"
                        class="btn btn-outline btn-primary"
                    >
                        About
                    </a>

                    <a
                        href="/blog"
                        class="btn btn-outline btn-primary"
                    >
                        Blog
                    </a>

                    <a
                        href="/projects"
                        class="btn btn-outline btn-primary"
                    >
                        Projects
                    </a>

                    <a
                        href="/cv.pdf"
                        class="btn btn-outline btn-primary"
                    >
                        CV
                    </a>

                    <a
                        href="https://github.com"
                        class="btn btn-outline btn-primary"
                    >
                        Github
                    </a>
                </div>
            </div>
        </div>
    </div>
</Base>

<style lang="scss">
    $nav-reveal-initial-delay: 250ms;
    $nav-item-reveal-duration: 500ms;
    $nav-item-reveal-between-delay: 100ms;
    $num-nav-items: 5;

    @media (prefers-reduced-motion: no-preference) {
        // Fade in the navigation items one after the other
        @for $i from 1 through $num-nav-items {
            #nav-items :nth-child(#{$i}) {
                opacity: 0;
                animation: fadeIn $nav-item-reveal-duration ease-in-out;
                animation-fill-mode: forwards; // Keep the opacity at 1 after the animation

                // Delay the animation of each item, so that they don't all fade in at once but instead
                // one after the other
                animation-delay: $nav-reveal-initial-delay +
                    $nav-item-reveal-between-delay *
                    ($i - 1) +
                    $nav-item-reveal-duration *
                    ($i - 1);
            }
        }
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
</style>
