---
import Favicons from "$components/Favicons.astro";
import Header from "$components/Header.astro";
import SEO from "$components/SEO.astro";
import "$styles/tailwind.scss";

interface Props {
	title: string;
	description: string | undefined;
}

const { title, description } = Astro.props;
const headerHeight = 7;
---

<!doctype html>
<html lang="en">
	<head class="max-h-full">
		<Favicons />

		<SEO
			{title}
			{description}
		/>

		<title>{title}</title>

		<slot name="head" />
	</head>

	<body
		class="flex flex-col items-center prose prose-slate prose-invert bg-base-900 max-w-full max-h-full"
	>
		<Header height={headerHeight} />

		<!-- have to use `style` because tailwind w/ astro doesn't support dynamic styles -->
		<div
			class="max-w-prose flex-grow"
			style={`min-height: ${100 - headerHeight}dvh; margin: ${headerHeight}dvh auto 0 auto`}
		>
			<slot />
		</div>
	</body>
</html>
