---
import Favicons from "$components/Favicons.svelte";
import Footer from "$components/Footer.svelte";
import Header from "$components/Header.svelte";
import SEO from "$components/SEO.svelte";
import config from "$config";
import "$styles/main.scss";

// Get configuration
let { title: prop_title, description } = Astro.props;
const title = prop_title != undefined ? `${config.title} | ` + prop_title : config.title;
---

<html lang="en">
	<head>
		<link rel="icon" href="/favicon.ico" />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<Favicons />

		<title>{title}</title>

		<SEO {title} {description} path={Astro.url.pathname} />
		<!-- TODO: add more head stuff! -->
	</head>

	<!--
		Note that all the `prose-a` tags mimic the styles in `preflight.scss`. This is not a mistake.
		If this was not the case, every `prose`-d link would not be underlined properly otherwise. 
		Therefore, this ugliness must ensue. Sorry :(
	-->
	<body
		class="mx-auto w-full min-h-screen max-w-[95%] md:max-w-prose prose prose-invert prose-a:decoration-wavy prose-a:decoration-primary bg-base"
	>
		<div style="display: contents" class="flex flex-col items-center min-h-screen">
			<Header />

			<hr class="w-full my-4" />

			<div class="flex-grow">
				<slot />
			</div>

			<Footer />
		</div>
	</body>
</html>
